<h1>Kendo Grid Test</h1>

<div id="nav"></div>


<div id="container" class="k-content">
	
<!-- The templates below will be placed  here dynamically	 -->
	
</div>

<!-- TEMPLATES -->
<script type="text/x-kendo-template" id="users-grid-template">	
	<p>Users Grid Template</p>	
	<div id="users-grid"></div>	
		
	
</script>

<script type="text/x-kendo-template" id="posts-grid-template">	
	<div id="posts-grid">
		<div class="comments-grid"></div>
	</div>	
</script>



<script type="text/template" id="nav-template">
  <div>
  	<ul id="nav_container">
  		<li><a href="#users">Users</a></li>
  		<li><a href="#posts">Posts</a></li>
  	</ul>
  </div>
</script>


<%= @test %>



